@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sky Book Library</h1>
    <p class="lead">Collaborate and personalise Your Book Experience with  SBLibrary</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Collaborate</h2>
        <p>
            SBLibrary is a centralised and personal eBook library to manage ebooks as well as collaborate with other users
        </p>
        <p><img src="~/Content/img3.jpg" height="230" width="230" /></p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Share</h2>
        <p>With SBLibrary you can share or recommend a book to friends and also share thought through the app note share on the book</p>
        <p><img src="~/Content/img2.jpg" height="230" width="230" /></p>    
    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Favorite</h2>
        <p>You can easily choose your favorite books and add them to reading list</p><br />
        <p><img src="~/Content/img1.jpg" height="200" width="200" /><br /></p>    
    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>