@model SBLibrary.Data.Models.Domain.Author

@{
    ViewBag.Title = "GetAuthor";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<h2>GetAuthor</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)

        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
