@model IEnumerable<SBLibrary.Data.Models.Domain.Author>

@{
    ViewBag.Title = "GetAuthors";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<h2>Authors</h2>

<p>
    @Html.ActionLink("Add New Author", "AddAuthor", "Author")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @*@Html.DisplayFor(modelItem => item.AuthorName)*@
        @Html.ActionLink(item.AuthorName, "GetBooks", new { authorId = item.AuthorId, Controller = "Author" })
    </td>

    <td>
        @Html.ActionLink("Delete Author", "Delete", new { id = item.AuthorId }, new { @style = "color: indianred" })
    </td>
</tr>
}

</table>
